.DS_Store
/node_modules
/dist

# local env files
.env.production
.env.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules

# Firebase
/.firebase
.firebase
.firebaserc
firebase.json
*.cache

dist.tar.gz
*.sh

/public/mapData/bike_path.geojson
/public/mapData/medical_institution.geojson
/public/mapData/patrol_debrisarea.geojson
/public/mapData/patrol_debris.geojson
/public/mapData/building_age.geojson
/public/mapData/patrol_designate_place.geojson
/public/mapData/parking_realtime_3d.geojson
/public/mapData/work_street_light.geojson
/public/mapData/it_tpmo_poc_location.geojson
/public/mapData/tran_youbike_station_type.geojson
/public/mapData/park_green_land.geojson
/public/mapData/socl_welfare_people_by_vil_view.geojson
/public/mapData/building_renewunit_30.geojson
/public/mapData/building_renewunit_20.geojson
/public/mapData/building_publand_2.geojson
/public/mapData/traffic_accident_location_view.geojson
/public/mapData/building_unused_land.geojson
/public/mapData/red_line_station.geojson
/public/mapData/building_landuse.geojson
/public/mapData/traffic_metro_station.geojson
/public/mapData/building_publand_0.geojson
/public/mapData/mrt-rect.geojson
/public/mapData/blue_line_station.geojson
/public/mapData/building_renewarea_10.geojson
/public/mapData/socl_welfare_organization_plc.geojson
/public/mapData/patrol_fire_brigade.geojson
/public/mapData/work_garden_city.geojson
/public/mapData/traffic_live_view.geojson
/public/mapData/blue_line.geojson
/public/mapData/traffic_bus_station_view.geojson
/public/mapData/youbike_weekday.geojson
/public/mapData/building_publand_1.geojson
/public/mapData/parking_water_floor.geojson
/public/mapData/traffic_youbike.geojson
/public/mapData/mrt-rect_offset50.geojson
/public/mapData/building_renewarea_40.geojson
/public/mapData/patrol_district.geojson
/public/mapData/patrol_old_settlement.geojson
/public/mapData/traffic_metro_station_new.geojson
/public/mapData/taipei_village.geojson
/public/mapData/traffic_bus_route_view.geojson
/public/mapData/building_social_house.geojson
/public/mapData/youbike_demand.geojson
/public/mapData/youbike_grid.geojson
/public/mapData/patrol_artificial_slope.geojson
/public/mapData/red_line.geojson
/public/mapData/youbike_sub_stn_1.geojson
/public/mapData/parking_realtime_new.geojson
/public/mapData/patrol_rain_floodgate.geojson
/public/mapData/taipei_town.geojson
/public/mapData/ethc_check_dashboard_detail.geojson
/public/mapData/youbike_avail_pct.geojson
/public/mapData/heal_aed.geojson
/public/mapData/youbike_sub_stn_2.geojson
/public/mapData/traffic_metro_line.geojson
/public/mapData/youbike_weekend.geojson
/public/mapData/work_soil_liquefaction.geojson
/public/mapData/dispatchingpoint.geojson
/public/mapData/police_station.geojson
/public/mapData/patrol_rain_sewer.geojson
/public/mapData/traffic_todaywork_view.geojson
/public/mapData/parking_realtime_3d2.geojson
/public/mapData/fire_hydrant_location.geojson
/public/mapData/parking_realtime.geojson
/public/mapData/building_unused_public.geojson
/public/mapData/work_sidewalk.geojson
/public/mapData/garbage_truck.geojson
/public/mapData/urban_green_land.geojson
/public/mapData/work_street_tree.geojson
/public/mapData/tp_fet_work_live_new.geojson
/public/mapData/building_renewunit_12.geojson