NODE_ENV=development
VITE_API_URL=/api/dev
VITE_APP_TITLE=
VITE_APP_VERSION=
VITE_MAPBOXTOKEN=
VITE_MAPBOXTILE=

## TAIPEIPASS envs
VITE_TAIPEIPASS_URL=
VITE_TAIPEIPASS_SCOPE=
VITE_TAIPEIPASS_CLIENT_ID=