## Frontend ENV Configs
VITE_API_URL=/api/dev
NODE_ENV=development
VITE_APP_TITLE=臺北城市儀表板
VITE_APP_VERSION=2.0.0
VITE_MAPBOXTOKEN=
VITE_MAPBOXTILE=
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_URL=
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_SCOPE=
# [External Dev Don't Need to Fill Below Variable]
VITE_TAIPEIPASS_CLIENT_ID=
