/* Cleaned */

:root {
	--color-background: #090909;
	--color-border: #494b4e;
	--color-highlight: #5a9cf8;
	--color-normal-text: white;
	--color-complement-text: #888787;
	--color-component-background: #282a2c;
	--color-overlay: rgba(0, 0, 0, 0.65);
	--font-to-icon: 1.2;
	--font-xl: 1.5rem;
	--font-l: 1.25rem;
	--font-m: 18px;
	--font-s: 0.75rem;
	--font-icon: "Material Icons Round";
	--vh: 1vh;
}

* {
	margin: 0;
	padding: 0;
	color: var(--color-normal-text);
	font-family: "微軟正黑體", "Microsoft JhengHei", "Droid Sans", "Open Sans",
		"Helvetica";
	overflow: hidden;
}

h1 {
	font-size: var(--font-l);
}
h2 {
	font-size: var(--font-m);
}
h3,
p {
	font-size: var(--font-s);
}

a {
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
}
button:hover {
	cursor: pointer;
}

input {
	padding: 4px 6px;
	border-radius: 5px;
	border: solid 1px var(--color-border);
	background-color: transparent;
	font-size: 1rem;
}

input:focus {
	outline: none;
	border-color: var(--color-highlight);
}

body {
	background-color: var(--color-background);
}

::-webkit-scrollbar {
	width: 0px;
}

@media (min-width: 1000px) {
	.show-if-mobile {
		display: none !important;
	}
}
@media (max-width: 1000px) {
	.hide-if-mobile {
		display: none !important;
	}
}
